
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url(image1.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container{
    width: 60%;
    height: 250px;
    color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 3px;
}

#timer{
    width: 100%;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 35px;
}

.buttons{
    text-align: center;
}

button{
    margin: 0 10px;
    border: none;
}

button i{
    font-size: 2rem;
    padding: 10px;
    width: 50px;
    color: white;
}

#play{
    background-color: green;
}
#reset{
    background-color: red;
}
#pause{
    background-color: yellow;
}